body{
    background-color: cornflowerblue;
}
.flexsearch--wrapper {
    height: auto;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    background: transparent;
    margin: 20px;
    position: static;
}




.flexsearch--form {
    overflow: hidden;
    position: relative;
}

.flexsearch--input-wrapper {
    padding: 0 66px 0 0; /* Right padding for submit button width */
    overflow: hidden;
}

.flexsearch--input {
    width: 100%;
}


.flexsearch {
    padding: 0 25px 0 20px;
    width: 300px;/* Padding for other horizontal elements */
}

.flexsearch--input {

box-sizing: content-box;
height: 30px;
padding: 0 46px 0 10px;
border-color: #888;
border-radius: 35px; /* (height/2) + border-width */
border-style: solid;
border-width: 5px;
margin-top: 15px;
color: #333;
font-family: 'Helvetica', sans-serif;
font-size: 26px;

}

.flexsearch--submit {
position: absolute;
right: 0;
top: 0;
display: block;
width: 60px;
height: 60px;
padding: 0;
border: none;
margin-top: 7px; /* margin-top + border-width */
margin-right: 5px; /* border-width */
background: transparent;
color: #888;
font-family: 'Helvetica', sans-serif;
font-size: 40px;
line-height: 60px;
}

.flexsearch--input:focus {
outline: none;
border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
color: #333;
}

.flexsearch--submit:hover {
color: #333;
cursor: pointer;
}

::-webkit-input-placeholder {
color: #888;
}

.titulo{
font-family: 'Pattaya', sans-serif;
    text-align: center;
    font-size: 60px;
}

img{
    height: 90px;
    width: 97px;
}
.contenedor{
    height: 200px;
    width: 200px;
    background-color: #888888;
    margin-left: 70px;
}
#canciones{
    float: left;
    margin-top: 5px;
    margin-left: 300px;
}